<div class="container d-flex justify-content-center mt-5">


    <div class="text-center w-50 p-5 border border-secondary">
        <h2>Welcome to Login</h2>
        <label for="">Username :</label><input type="text" placeholder="Enter Username"/><br><br>
        <label for="">Password :</label><input type="password" placeholder="Enter Password"/><br><br>
        <!-- <button class="btn btn-success" routerLink="/structural-directive">Login</button> -->
         <button class="btn btn-primary" (click)="loginData()">Login</button>
    </div>
</div>