<p>hi it is appp componennet  welcome</p>
<!-- <app-user></app-user> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structural-directive-ngif-vs-if></app-structural-directive-ngif-vs-if> -->
<!-- <app-structural-directive-ngfor-vs-for></app-structural-directive-ngfor-vs-for> -->
<!-- <app-structural-directive-ngswitch-vs-switch></app-structural-directive-ngswitch-vs-switch> -->


<!-- <app-attribute-directive></app-attribute-directive> -->
<!-- <app-attribute-directive-ngstyle></app-attribute-directive-ngstyle> -->

<!-- <app-signals></app-signals> -->
<app-linked-signals></app-linked-signals>
<router-outlet />



<!-- for creating component  command is : ng g c componennt_name -->
 <!-- for run server : ng s -->